@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;

}


@keyframes entrarCarta{
  0%{
    margin-left: -40px;
    margin-top: -80px;
    opacity: 0;
  }
  100%{
    margin-left: 0;
    margin-top: 0;
    opacity: 1;
  }
}

